:root {
    --theme-color: linear-gradient(135deg, #548cf5, #a16ae8);
    --cursor: url('/static/img/cursor.png'), auto;
}

body {
    background-color: #cfd1d7!important;
    cursor: var(--cursor);
    font-family: "Source Sans 3", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 1000 !important;
    word-break: break-word !important;
    font-size: 3rem !important;
    line-height: 1 !important;
    margin: 0 !important;
}

h5 {
    font-weight: 600 !important;
}

a {
    text-decoration: none !important;
    color: var(--theme-color) !important;
    font-weight: bold !important;
    cursor: var(--link-cursor) !important;
}

button {
    cursor: var(--link-cursor) !important;
}


.home-container {
    margin-top: 320px;
    position: relative;
}

@media (min-width: 992px) {
    .home-container {
        margin-top: 120px;
        position: relative;
    }
}

.flag-counter {
    height: 150px;
    width: 90%;
}

@media (min-width: 992px) {
    .flag-counter {
        height: 300px;
        width: 90%;
    }
}


body {
    --sb-track-color: transparent;
    --sb-thumb-color: var(--theme-color);
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-infinite {
    animation: ckw 120s infinite;
}


.padding_l_list {
    padding-left: 0rem!important;
}


@media (min-width: 992px) {
    .padding_l_list {
        padding-left: 1rem!important;
    }
    
}